/*考生信息录入 刘志杰 2018-10-12*/
body, html {
    background-color: #fff;
    height: 100%;
    overflow-x: hidden;
}

.form-group {
    margin-bottom: 5px;
}

.container {
    height: 100%;
}

.container .page-header {
    padding-bottom: 11px;
    margin: -22px 0 0;
    border-bottom: 1px solid #eee;
}

.container .content-section {
    height: 100%;
    margin-top: 2%;
    margin-right: 2%;
}

.container .table-section {
    margin-top: 2%;
}

.form-body {
    margin-left: 3%;
    margin-right: 8%;
}

.form-body .h2 {
    margin-left: 3%;
    margin-bottom: 15px;

}